Package: com.yourname.starspatch
Name: StarsPatch
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Fake Stars for Telegram/Swiftgram
Maintainer: YourName
Author: YourName
Section: Tweaks
